@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #961515;
  --primary-color-dark: #a31e27;
  --primary-color-light: #e9f7f7;
  --secondary-color: #cd3d3dee;
  --text-dark: #e8e6e6;
  --text-light: #ffffff;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p{
  font-size: 17.5px;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  font-weight: 450;
  color: var(--text-dark);

}

.btn {
  padding: 0.50rem 1rem;
  outline: none;
  border: none;
  font-size: 1.3rem;
  white-space: nowrap;
  color: var(--white);
  background-color: rgb(65, 62, 62);
  border-radius: 1px;
  cursor: pointer;
}

.btn:hover{
  background-color: #4f2326d0;
  transition: 0.4s;
}
img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 2;
  padding: 2;
  background-color: #3a3938;
}

/* ON SCROLL REVEAL CONTENTS */

header {
  background-image: linear-gradient(
      to right,
      rgba(54, 53, 53, 0.945),
      rgba(158, 154, 154, 0.674)
    ),
    url("assets/cd.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__container {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: left;
  justify-content: space-between;
  background-color: rgb(54, 54, 54);
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: top 0.3s ease-in-out; /* Add a smooth transition */
  overflow: visible;
  width: 100%;
}

.nav__logo {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--white);
}

.nav__logo span {
  color: var(--secondary-color);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.8rem;
  padding: 0;
  margin: 0;
  overflow: hidden;
  right: 0;
}

.link{
  margin-right: 20px;
}

.link a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  color: var(--primary-color-light);
  display: block;
  text-align: right;
  padding: 7px 10px;
}

.link a:hover {
  color: var(--primary-color-dark);
}

.menu-icon {
  display: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: center;
  flex-direction: column;
}

.header__container h1 {
  margin-bottom: 2rem;
  max-width: 700px;
  font-size: 2.5rem;
  line-height: 4rem;
  color: var(--white);
}

.header__container p {
  margin-bottom: 2rem;
  max-width: 600px;
  color: var(--primary-color-light);
}


.header__content{
  text-align: center;
}

.service__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.service__header__content p {
  max-width: 600px;
  color: var(--text-light);
}

.service__btn {
  padding: 0.75rem 1rem;
  outline: none;
  font-size: 1rem;
  color: var(--white);
  border: 1px solid var(--white);
  background-color: transparent;
  border-radius: 5px;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.3s;
}

.service__btn:hover {
  color: var(--white);
  background-color: var(--primary-color);
}

.service__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.service__card {
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.service__card span {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 10px 20px;
  font-size: 2.5rem;
  color: var(--primary-color);
  background-color: var(--primary-color-light);
  border-radius: 100%;
  transition: 0.3s;
}

.service__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.service__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.service__card a {
  color: var(--primary-color);
}

.service__card a:hover {
  color: var(--primary-color-dark);
}

.service__card:hover span {
  color: var(--primary-color-light);
  background-color: var(--primary-color);
}

.about__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}


.about__content {
  margin-bottom: 1rem;
  color: var(--text-light);
  transition: 0.3s;
}

.about__contentp {
  margin-bottom: 1rem;
  color: var(--text-light);
  transition: 0.3s;
  order: 2;
}

.about__image img {
  max-width: 700px;
  margin: auto;
  border-radius: 10px;
}



/**********\
   FOOTER
\**********/

/* Make service container span full width on About page */
.service__container {
  max-width: 100%;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.footer {
  background-image:
    linear-gradient(rgba(11, 12, 16, 0.85), rgba(11, 12, 16, 0.85)),
    url("assets/code-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__container {
  display: grid;
  grid-template-columns: 400px repeat(3, 1fr);
  gap: 2rem;
}

.footer__col h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
}

.footer__col h3 span {
  color: var(--primary-color-dark);
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(224, 220, 220);
}

.footer__col p {
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  transition: 0.3s;
}

.footer__col p:hover {
  color: var(--primary-color);
}

.footer__col i {
  color: var(--primary-color);
}

.footer__bar {
  background-color: var(--primary-color);
}

.footer__bar__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.footer__bar__content p {
  font-size: 0.8rem;
  color: var(--white);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  color: var(--white);
  cursor: pointer;
}


.newsletter-title {
  color: var(--text-dark);
  font-size: var(--fs-3);
  font-weight: var(--fw-600);
  line-height: 1.3;
}

.newsletter-text {
  font-size: var(--fs-7);
  line-height: 2;
  margin-block: 10px 35px;
}

.newsletter-form { position: relative; }

.email-field {
  background-color: var(--white);
  font-size: var(--fs-7);
  padding: 12px 18px;
  padding-inline-end: 145px;
  border: 1px solid var(--hoockers-green_20);
  border-radius: var(--radius-3);
  outline: none;
  transition: var(--transition-1);
}

.email-field::placeholder { color: var(--spanish-gray); }

.email-field:focus { border-color: var(--black); }

.newsletter-form .btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

@media (width < 900px) {
  .service__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .about__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .about__image {
    grid-area: 1/1/2/2;
  }

  .about__content {
    text-align: center;
  }

  .doctors__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 780px) {
  .nav__links {
    display: none;
  }

  .header__container {
    flex-direction: column;
    text-align: left;
  }
}

@media (width < 600px) {
  .service__header {
    flex-direction: column;
    text-align: center;
  }

  .service__grid {
    grid-template-columns: repeat(1, 1fr);
  }


  .doctors__header {
    flex-direction: column;
    text-align: center;
  }

  .doctors__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__bar__content {
    flex-direction: column;
    gap: 1rem;
  }

  .header__content{
    text-align: left;
  }
}


@media screen and (max-width: 600px) {
  .nav__links {
      display: none;
      width: 100%;
      text-align: center;
  }

  .nav__links.show {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
  }

  .link {
      width: 100%;
      text-align: right;
  }

  .link a{
    padding: 4px;
}

  .menu-icon {
      display: block;
  }
}